<config>
  <web-server autostart="true" port="8080">
    <allowed-origins/>
  </web-server>
  <archive>
    <save-thumbnails>false</save-thumbnails>
    <thumbnail-size>64</thumbnail-size>
    <indexer-effort>100</indexer-effort>
    <dim-providers/>
    <default-storages/>
    <enable-watch-directory>false</enable-watch-directory>
    <watch-directory></watch-directory>
    <main-directory/>
    <node-name>DESKTOP-69MRBDS</node-name>
  </archive>
  <dicom-services>
    <aetitle>DICOOGLE-STORAGE</aetitle>
    <device-description/>
    <allowed-local-interfaces>any</allowed-local-interfaces>
    <allowed-hostnames>any</allowed-hostnames>
    <default-ts>
      <ts>1.2.840.10008.1.2</ts>
      <ts>1.2.840.10008.1.2.1</ts>
      <ts>1.2.840.10008.1.2.2</ts>
      <ts>1.2.840.10008.1.2.4.70</ts>
      <ts>1.2.840.10008.1.2.4.80</ts>
      <ts>1.2.840.10008.1.2.4.57</ts>
      <ts>1.2.840.10008.1.2.4.90</ts>
      <ts>1.2.840.10008.1.2.4.91</ts>
      <ts>1.2.840.10008.1.2.5</ts>
      <ts>1.2.840.10008.1.2.4.100</ts>
      <ts>1.2.840.10008.1.2.4.51</ts>
    </default-ts>
    <sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.1.30</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.9</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.8</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.7</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.6</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.5</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.4</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.3</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.2</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.88.33</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.1.29</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.1.27</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.88.22</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.20</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.9.4.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.77.1.5.3</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.77.1.5.2</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.77.1.5.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.9.3.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.7.4</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.7.3</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.77.1.4.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.7.2</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.7.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.9.2.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.9.1.3</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.6.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.9.1.2</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.3.12.2.1107.5.9.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.77.1.2.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.12.3</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.12.2</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.77.2</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.77.1.1.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.12.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.77.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.66.2</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.4.2</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.66.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.4.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.11</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.88.11</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.11.4</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.10</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.11.3</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.11.2</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.11.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.3.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.2.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.1.3</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.1.2</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.1.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.481.7</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.481.6</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.481.5</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.481.4</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.481.3</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.481.2</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.481.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.67</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.66</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.88.65</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.1.9</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.13.1.3</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.88.59</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.88.50</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.1.3.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.129</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.128</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.104.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.38.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.1.1.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.12.2.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.77.1.6</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.77.1.4</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.77.1.3</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.77.1.2</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.12.1.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.77.1.1</uid>
        <transfer-syntaxes/>
      </sop-classes>
      <sop-classes>
        <uid>1.2.840.10008.5.1.4.1.1.88.40</uid>
        <transfer-syntaxes/>
      </sop-classes>
    </sop-classes>
    <move-destinations/>
    <storage autostart="true" port="6666"/>
    <query-retrieve autostart="true" port="1045">
      <rsp-delay>0</rsp-delay>
      <dimse-rsp-timeout>60</dimse-rsp-timeout>
      <idle-timeout>60</idle-timeout>
      <accept-timeout>60</accept-timeout>
      <connection-timeout>60</connection-timeout>
      <transfer-capabilities>1.2.840.10008.1.2</transfer-capabilities>
      <transfer-capabilities>1.2.840.10008.1.2.1</transfer-capabilities>
      <transfer-capabilities>1.2.840.10008.1.2.2</transfer-capabilities>
      <sop-class>1.2.840.10008.5.1.4.1.2.2.1</sop-class>
      <sop-class>1.2.840.10008.5.1.4.1.2.1.1</sop-class>
      <max-client-assocs>20</max-client-assocs>
      <max-pdu-length-receive>16364</max-pdu-length-receive>
      <max-pdu-length-send>16364</max-pdu-length-send>
    </query-retrieve>
  </dicom-services>
</config>
